$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.wrapper {
    text-shadow: 0 1px 0 #ccc;
    .pdr0 {
        padding-right: 0;
    }
    .title {
        font-size: 32px;
        margin: 40px 0;
        text-align: center;
        text-shadow: 0 1px 0 #ccc;
    }
    .main-content {
        padding: 60px 0;
        .pic {
            text-align: center;
        }
        .desc {
            // background-color: red;
            width: 330px;
            margin: 60px auto;
            h3 {
                margin-bottom: 20px;
            }
            // padding: 0 200px;
        }
        .pz-form {
            width: 80%;
            margin: 0 auto;
            
            .form-group {
                margin-bottom: 0;
                .input {
                    padding: 10px 16px;
                    font-size: 18px;
                    line-height: 1.33;
                    border-radius: 6px;
                    height: auto;
                }
                .btn {
                    width: 100%;
                }
            }
            .ps {
                margin-bottom: 20px;
                color: #666;
                text-shadow: 0 1px 0 #fff;
            }
            textarea {
                width: 100%;
                margin: 20px 0 60px 0;
                border-color: #ccc;
                border-radius: 6px;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;

            }

        }
        
    }

}


.dn {
    display: none;
}

.pz-footer{
    margin: 0 100px 0;
}


